:root {
  --color-black-1: #000000;
  --color-black-2: #282a3a;
  --color-brown-1: #735f32;
  --color-brown-2: #c69749;
  --color-white: #ffffff;
}

$bp-1: 50em; // 800px;
$bp-2: 31.25em; // 500px;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;

  @media only screen and (max-width: $bp-2) {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
  background-color: var(--color-black-2);
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.container {
  width: min(120rem, 100%);
  margin: 0 auto;
}

.header {
  background-color: var(--color-brown-1);
  font-size: 1.6rem;
  padding: 1.5rem;

  &__menu {
    list-style: none;

    display: flex;
    justify-content: flex-end;
    column-gap: 4rem;

    @media only screen and (max-width: $bp-2) {
      flex-direction: column;
      row-gap: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-white);
      text-decoration: none;
      background-color: var(--color-brown-2);
      padding: 0.5rem 2rem;
      border-radius: 100rem;
      transition: opacity 0.2s;
      display: inline-block;
    }

    &:hover,
    &:active {
      opacity: 0.75;
    }
  }
}

.main {
  background-color: var(--color-black-1);

  &__interest-box {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
  }

  &__interest-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    gap: 2rem;
    align-items: center;
  }

  &__interest {
    width: 25rem;
    background-color: #333;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
    
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: .5rem;

    &:hover {
      color: #735f32;
      scale: 1.05;
    }
  }

  &__interest-icon {
    width: 4rem;
    height: 4rem;
  }

  &__interest-img {
    height: 100%;
  }

  &__line-design {
    height: 0.3rem;
    width: 12rem;
    background-color: #ffffff;
  }

  &__about {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  &__about-personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__about-text {
    width: 45%;
  }

  &__about-photo {
    width: 45%;
  }

  &__about-list {
    margin-left: 1.8rem;
  }

  &__about-personal-box {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }

  &__about-personal-p {
    font-size: 1.6rem;
  }

  &__about-me-text {
    font-size: 1.6rem;
  }

  &--home {
    min-height: 100vh;
  }

  &--about {
    padding: 10rem 0;
    width: 100%;
  }

  &__about-text {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.7;
  }

  &__hero {
    padding: 20rem 0;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media only screen and (max-width: $bp-1) {
      flex-direction: column;
      row-gap: 5rem;
    }
  }

  &__text {
    width: 48%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;

    @media only screen and (max-width: $bp-1) {
      width: 100%;
      text-align: center;
    }
  }

  &__photo {
    width: 48%;

    @media only screen and (max-width: $bp-1) {
      width: 100%;
    }
  }

  &__btn {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 500;
      color: var(--color-brown-1);
      border: 2px solid var(--color-white);
      padding: 1rem;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-1) {
        margin: 0 auto;
      }
    }

    &:hover,
    &:active {
      color: var(--color-white);
      border: 2px solid var(--color-brown-1);
    }
  }
}

.footer {
  padding: 6rem 0;
  background-color: var(--color-black-2);

  display: flex;
  row-gap: 2rem;

  &__main {
    display: flex;

    @media only screen and (max-width: $bp-1) {
      flex-direction: column;
      row-gap: 3rem;
    }
  }

  &__socials {
    align-self: flex-end;
    display: flex;
    column-gap: 2rem;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-1) {
      align-self: center;
      justify-content: center;
    }
  }

  &__socials-link {
    &:link,
    &:visited {
      width: 4rem;
      height: 4rem;
      border: 1px solid var(--color-white);
      padding: 1rem;
      border-radius: 50%;
      transition: all 0.2s;
      display: inline-block;
    }

    &:hover,
    &:active {
      transition: 0 -5rem;
      opacity: 0.75;
    }
  }

  &__socials-photo {
    height: 100%;
  }
}

.heading {
  &--1 {
    font-size: 7rem;
    font-weight: 300;
    line-height: 1.5;

    @media only screen and (max-width: $bp-1) {
      text-align: center;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--color-brown-2);
      display: inline-block;

      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
    }

    &:hover,
    &:active {
      animation-name: bounce;
      animation-timing-function: ease;
    }
  }

  &--2 {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &--4 {
    font-size: 1.8rem;
    
  }
}

@keyframes bounce {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -5rem;
  }
  100% {
    translate: 0 0;
  }
}
